.DS_Store
*.swp
.idea/
.vscode/

node_modules/
dist/
build/
coverage/
*.tsbuildinfo
npm-debug.log*
yarn-error.log*
.pnpm-debug.log*

*.local
.env
.env.*

tests/generator/__generated__/
tests/cli/__generated__/
tests/cli/__prog__/

docs/.vitepress/dist/
docs/.vitepress/cache/
